<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index')}}">{% block navName %} {% endblock %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <!--<a class="nav-link" href="#trade_status">Trade Status</a>-->
            </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <br>
        <button class="" type="button" data-toggle="collapse" data-target="#trade_status" aria-expanded="false" aria-controls="trade_status">
            Open trade status
        </button>
        <button class="" type="button" data-toggle="collapse" data-target="#backtesting" aria-expanded="false" aria-controls="backtesting">
            Backtesting
        </button>
        <button class="" type="button" data-toggle="collapse" data-target="#logs" aria-expanded="false" aria-controls="logs">
            Logs
        </button>
        <hr>
        <div class="collapse" id="trade_status">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">key</th>
                  <th scope="col">value</th>
                </tr>
              </thead>
              <tbody>
                    {% block status %} {% endblock %}
              </tbody>
            </table>
        </div>
        <div class="collapse" id="backtesting">
            <form>
                <div class="card">
                  <div class="card-header">
                    Backtest Output
                  </div>
                  <div class="card-body">
                    <p class="card-text">{% block backtesting %} {% endblock %}</p>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header">
                    Backtest settings
                  </div>
                  <div class="card-body">
                    <p class="card-text">{% block content %} {% endblock %}</p>
                  </div>
                </div>
            </form>
        </div>
        <div class="collapse" id="logs">
            <div class="card">
                  <div class="card-header">
                    Logs Output
                  </div>
                  <div class="card-body">
                    <p class="card-text">{% block pair_history %} {% endblock %}</p>
                  </div>
                </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>